{% extends 'base.html' %}

{% block head %}

    <title>Home</title>

{% endblock head %}

{% block content %}

    <h1>Tasks App</h1>
    {% if tasks %}
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task[1]}}</td>
                <td>{{task[2] | date_to_str}}</td>
                <td>
                    <a href="/update/{{task[0]}}">Update</a>
                    <br>
                    <a href="/delete/{{task[0]}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h5>There are no tasks. Create one below</h5>
    {% endif %}

    <form action="" method="post">
        <input type="text" name="content" id="content" autocomplete="off">
        <button type="submit" class="button">Add task</button>
    </form>

{% endblock content %}
